@CHARSET "ISO-8859-1";
body{
	font-size: 16px;
	font-family: "Proxima Nova", sans-serif;
	color: black;
}
.navbar{margin-bottom: 3px;}
h1,h2,h3,h4{
	font-family: "Roboto", serif;
}
.dropdown-menu{
	padding: 0px;
}
#index-container{
	background: #F8F9F9;
	margin-top: 20px;
}
#logo:hover,#myNavbar a:hover{
	color: #337ab7;
}
.navbar .btn-link{
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	outline: none;
}
#accountItems, #notificationItems{
	margin-top: 10px;
}
#notificationItems .dropdown-menu{
	width: 500px;
}
#notificationItems .notificationItem, #accountItems .accountItem{
	padding: 0px 20px;
}
#accountItems .dropdown-menu .accountItem{
	white-space: nowrap;
}
#accountItems .dropdown-menu, #notificationItems .dropdown-menu{
    border-top: none;
    margin-top: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.badge-notify{
   background:red;
   position:relative;
   top: -15px;
   left: -25px;
   font-size: 10px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#notificationItems .notificationItem{
	position: relative;
	overflow: hidden;
}
#notificationItems .notificationItem .options{
	position:absolute;
    top:0px;
    bottom: 0px;
    width: 175px;
    right:-175px;
    background: #EBECED;
}
#notificationItems .notificationItem .options i{
	line-height: 200%;
}
#notificationItems .divider{
	margin: 0px;
	padding: 0px;
}
#notificationItems .notificationItem:hover{
	background: #EBECED;
}
#notificationItems .notificationItem:hover .options
{
    right:0px;
	transition: all 0.5s ease;
}
#notification-model .modal-body{
	padding-bottom: 0px;
}

a.link
{
	text-decoration: none;
	color: black;
}

#events-header-box
{	 
	background-image: -ms-linear-gradient(left, #A5C1C5 0%, #FBD871 100%);
	background-image: -moz-linear-gradient(left, #A5C1C5 0%, #FBD871 100%);
	background-image: -o-linear-gradient(left, #A5C1C5 0%, #FBD871 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #A5C1C5), color-stop(1, #FBD871));
	background-image: -webkit-linear-gradient(left, #A5C1C5 0%, #FBD871 100%);
	background-image: linear-gradient(to right, #A5C1C5 0%, #FBD871 100%);
	border:0.0625em solid #ebebeb;
	padding: 2em 0 2em 0;
}

#events-header-box .fa-rocket
{
	padding-left: 30px;
}

#index-body .row:nth-child(2) .col-md-3
{
	padding: 0 0.6em 0 0.6em;
}

.event-box
{
	margin: 1.3em 0em 1.25em 0em;
	border-top:1px solid #E6E6E6;
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.event-box:hover
{
	-webkit-box-shadow: 0em 0.0625em 0.5em 0em rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0em 0.0625em 0.5em 0em rgba(50, 50, 50, 0.75);
	box-shadow:         0em 0.0625em 0.5em 0em rgba(50, 50, 50, 0.75);
	border: 1px solid #B2B2B2;
}

.event-box-header
{
	color: white;
	padding: 1.5em 0 1em 0;
}

.col-md-3:nth-child(1) .event-box-header
{
	background: #FF8080;
}
.col-md-3:nth-child(2) .event-box-header
{
	background: #00A0DC;
}
.col-md-3:nth-child(3) .event-box-header
{
	background: #7CB82F;
}

.col-md-3:nth-child(4) .event-box-header
{
	background: #7B679A;
}

.event-box-title
{
	font-size: 1.6em;
}

.event-box-body
{
	background: white;
	padding: 0.5em 0.5em 0.5em 1em;
	border-left: 0.07em solid #E0E0E0;
	border-right: 0.07em solid #E0E0E0;
	line-height: 200%;
}
.event-box-footer
{
	font-size: 1.25em;
	background:#DDDFE0;
	padding: 0.625em 0 0.625em 0;
	border:0.0625em dashed #C2C1C1;	
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-bottomleft: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}
.error{
	color: red;
}

.event-cal-type .fa-exclamation-triangle{
	color: #FFCCCC;
	margin-top: .3em;
}

.event-cal-type .event-date{
	margin-top: .3em;
}

.checklist-icon{
	vertical-align: middle;
}

.pointer{
	cursor: pointer;
}

#sortable1,#sortable2,#sortable3
{
    padding: 2em 1.2em 2em 1.2em;
    border: 1px solid #337ab7;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 250px;
}

.checklistItem
{
    cursor: move;
    -webkit-box-shadow: 0 0 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 5px rgba(50, 50, 50, 0.75);
    border: 1px solid #bcbaba;
    padding: 0.5em 0.7em 0.5em 0.5em;
    margin-bottom: 0.75em;
}
#sortable1> .checklistItem
{
    border-left: 10px solid #80FF80;
}

#sortable2> .checklistItem
{
    border-left: 10px solid #FFB84D;
}

#sortable3> .checklistItem
{
    border-left: 10px solid #FF94FF;
}

.addChecklistDiv
{
    border: 1px dotted #4D4D4D;
    border-top: none;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding: 5px;
}
.zoom
{
    z-index:10000;
    position: absolute;
    background: #F8F8F8;
}

.done-editing
{
	margin-top: 3em;
}
.checklistItem-body
{
	display: none;
}

.fa-check-circle
{
	color: green;
}
.fa-times-circle
{
	color: #d9534f;
}
.alert
{
    position: absolute;top:4em;left: 30%; z-index: 1000;
}
.list-group.today-emergencies
{
	max-height: 15em;
	overflow-y: auto;
	padding: 0 .5em 0 .5em;
}
.emergency-type
{
	color: #C9302C;
}
.planned-type
{
	color: #286090;
}
.page-header{
	margin-top:0px;
	padding-bottom: 0px;
}
.page-header li{
	list-style: none;
}
#attachedFiles,#submitFiles{
	position:fixed;top:-2000px;
}
.top-buffer { margin-top:20px; }
.default-filter-group{margin-top: 15%;}









@media (min-width: 1200px){
	.container {
	    width: 1170px;
	}
}
@media (max-width: 1199px){
	.container {
	    width: 100%;
	}
}